<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h:body xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:wsosft="http://www.springframework.org/security/facelets/tags"
        xmlns="http://www.w3.org/1999/xhtml">
    <hr />
    <div class="pull-right text-right">
        © 2016 <h:outputLink value="http://www.fenaconcd.com.br">Fenacon CD</h:outputLink> |
        <h:outputLink value="mailto:lp_santana@hotmail.com">lp_santana@hotmail.com</h:outputLink> | (61) 9 8348-6292
    </div>
</h:body>