<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h:body xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:wsosft="http://www.springframework.org/security/facelets/tags"
        xmlns="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-expanded="false" class="navbar-toggle collapsed" 
                        data-target="#navbar-collapse" data-toggle="collapse" 
                        type="button">
                    <span class="sr-only">Navegação</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <h:outputLink value="#{facesContext.externalContext.
                                                   applicationContextPath.
                                                   concat(facesContext.externalContext.
                                                   requestServletPath)}/cadastroFuncionario.xhtml">
                                <span aria-hidden="true" class="glyphicon
                                      glyphicon-plus-sign"></span> Cadastrar funcionário
                            </h:outputLink>
                        </li>
                        <li>
                            <h:outputLink value="#{facesContext.externalContext.
                                                   applicationContextPath.
                                                   concat(facesContext.externalContext.
                                                   requestServletPath)}/restricted/listagemFuncionarios.xhtml">
                                <span aria-hidden="true" class="glyphicon
                                      glyphicon-list"></span> Funcionários
                            </h:outputLink>
                        </li>
                        <li>
                            <h:outputLink value="#{facesContext.externalContext.
                                                   applicationContextPath.
                                                   concat(facesContext.externalContext.
                                                   requestServletPath)}/restricted/listagemFerias.xhtml">
                                <span aria-hidden="true" class="glyphicon
                                      glyphicon-list"></span> Férias
                            </h:outputLink>
                        </li>
                        <li>
                            <h:outputLink value="#{facesContext.externalContext.
                                                   applicationContextPath.
                                                   concat(facesContext.externalContext.
                                                   requestServletPath)}/restricted/listagemFeriasPendentes.xhtml">
                                <span aria-hidden="true" class="glyphicon
                                      glyphicon-sunglasses"></span> Férias pendentes
                            </h:outputLink>
                        </li>
                    </ul>
                </div>
            </div>
            
            
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <h:outputLink value="#{facesContext.externalContext.
                                               applicationContextPath.
                                               concat(facesContext.externalContext.
                                               requestServletPath)}/restricted/cadastroUsuario.xhtml">
                            <span aria-hidden="true" class="glyphicon
                                  glyphicon-new-window"></span> Novo Usuário
                        </h:outputLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</h:body>