<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns:f="http://xmlns.jcp.org/jsf/core"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             xmlns="http://www.w3.org/1999/xhtml">
    
    <h:head>
        <h:outputScript name="scripts/jquery-2.1.4.js" />
        <h:outputScript name="scripts/bootstrap.js" />
        <h:outputScript name="scripts/jquery.mask.min.js"/>
        <h:outputStylesheet name="css/bootstrap.css" />
        <script type="text/javascript">
//          De acordo com a documentação do Bootstrap, o tooltip é um elemento
//          opcional que deve ser ativado para cada elemento demarcado conforme
//          a especificação abaixo. É recomendável a leitura da documentação do
//          Bootstrap para a compreensão do funcionamento dos seus elementos e
//          dos passos necessários para a sua integração com o JSF.
            function habilitarTooltip()
            {
                $('[data-toggle="tooltip"]').tooltip();
            }
//          Função executada logo após o carregamento da página. Funções podem 
//          ser utlizadas como parâmetros diretos da função ready ou agrupadas 
//          dentro de função agregadora, acomodando uma possível necessidade
//          futura de se executar mais de uma função após o carregamento.
            $(document).ready(function ()
            {
                habilitarTooltip();
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.cpf').mask('000.000.000-00', {reverse: true});
            });
        </script>

        <title>[Leonardo Santana] FENACON CD</title>
    </h:head>
</ui:fragment>