<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui">
    <ui:include src="../resources/content/metadata.xhtml" />
    <h:body> 
        <div class="center-block" style="width: 90%">
            <ui:include src="../resources/content/header.xhtml" />
            
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
            
            <div class="tab-content">
                <div class="tab-pane active" id="cadastro" role="tabpanel">
                    <br/>
                    <div align="center">
                        <h:form class="form-horizontal">
                            <div align="center">
                                <h4>Informações das férias</h4>    
                            </div>
                            <br/>
                            <!--DATA INÍCIO-->
                            <div class="form-group">
                                <h:outputLabel class="col-sm-2 control-label" for="dataInicio"
                                               value="Data de início" />
                                <div class="col-sm-3">
                                    <h:inputText class="form-control" id="dataInicio"
                                                 required="true"
                                                 requiredMessage="Preencha a data de início."
                                                 title="Data de início."
                                                 value="#{feriasController.ferias.dataInicio}">
                                        <f:convertDateTime 
                                            locale="pt-BR" 
                                            pattern="yyyy-MM-dd" 
                                            timeStyle="short" 
                                            timeZone="Brazil/East" 
                                            type="date" />
                                        <f:passThroughAttributes 
                                            value="#{{'placeholder':'Data do início', 
                                                     'required':'true',
                                                     'type':'date'}}"/>
                                    </h:inputText>
                                </div>
                                <!--DATA FIM-->
                                <h:outputLabel class="col-sm-2 control-label" for="dataFim"
                                               value="Data do fim" />
                                <div class="col-sm-3">
                                    <h:inputText class="form-control" id="dataFim" 
                                                 required="true"
                                                 requiredMessage="Preencha a data do fim."
                                                 title="Data do fim."
                                                 value="#{feriasController.ferias.dataFim}">
                                        <f:convertDateTime 
                                            locale="pt-BR" 
                                            pattern="yyyy-MM-dd" 
                                            timeStyle="short" 
                                            timeZone="Brazil/East" 
                                            type="date" />
                                        <f:passThroughAttributes 
                                            value="#{{'placeholder':'Data do fim', 
                                                     'required':'true',
                                                     'type':'date'}}"/>
                                    </h:inputText>
                                </div>
                            </div>
                            <!--CADASTRAR-->
                            <div class="form-group">
                                <div class="col-sm-1">
                                    <h:commandButton action="#{feriasController.cadastrar()}"
                                                     class="btn btn-success" 
                                                     value="Cadastrar">
                                    </h:commandButton>
                                </div>
                            </div>
                        </h:form>
                    </div>
                </div> 
            </div>
            <ui:include src="../resources/content/footer.xhtml" />
        </div> 
    </h:body>
</html>