<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui">
    <ui:include src="../resources/content/metadata.xhtml" />
    <body>
        <div class="center-block" style="width: 90%">
            <ui:include src="../resources/content/header.xhtml" />

            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
            
            <div align="center" style="margin-right: 150px">
                <h3>Funcionários cadastrados</h3>    
            </div>

            <br />
            <div class="center-block" style="width: 90%">
                <h:panelGroup binding="#{filtro}" id="filtro">
                    <h:form class="form-inline" onsubmit="return false;">
                        <div class="form-group">
                            <h:outputLabel for="nomeFiltro" value="Nome" />
                            <h:inputText class="form-control"
                                         disabled="#{listagemController.edicao}"
                                         id="nomeFiltro"
                                         maxlength="45"
                                         style="margin-left: 11px"
                                         title="Nome"
                                         value="#{funcionarioController.funcionario.nome}">
                                <f:ajax event="keyup" 
                                        listener="#{funcionarioController.filtrar()}" 
                                        render=":#{listagemFuncionarios.clientId}" />
                                <f:passThroughAttribute name="placeholder" 
                                                        value="Nome" />
                            </h:inputText>
                        </div>
                    </h:form>
                </h:panelGroup>
                <h:form>
                    <h:panelGroup binding="#{listagemFuncionarios}" 
                                  id="listagemFuncionarios">
                        <h:outputText rendered="#{funcionariosDT.rowCount == 0}" 
                                      value="Nenhum resultado encontrado." 
                                      />
                        <!--LISTAGEM DOS DADOS-->
                        <h:dataTable binding="#{funcionariosDT}"
                                     class="table"
                                     rendered="#{funcionariosDT.rowCount != 0}"
                                     rows="10"
                                     value="#{funcionarioController.funcionarios}" 
                                     var="funcionario">
                            <!--NOME-->
                            <h:column>
                                <f:facet name="header" >
                                    Nome 
                                </f:facet>
                                <h:inputText class="form-control" id="nome"
                                             maxlength="30"
                                             rendered="#{listagemController.edicao and funcionarioController.funcionario.id == funcionario.id}"
                                             required="true"
                                             requiredMessage="Preencha o nome."
                                             title="Nome."
                                             value="#{funcionario.nome}">
                                    <f:passThroughAttribute name="required"
                                                            value="true" />
                                </h:inputText>
                                <h:outputText 
                                    rendered="#{!(listagemController.edicao and funcionarioController.funcionario.id == funcionario.id)}"
                                    value="#{funcionario.nome}" />
                            </h:column>
                            <!--END-->
                            <h:column>
                                <f:facet name="header">
                                    Endereço
                                </f:facet>
                                <h:inputText class="form-control" id="endereco"
                                             maxlength="30"
                                             rendered="#{listagemController.edicao and funcionarioController.funcionario.id == funcionario.id}"
                                             required="true"
                                             requiredMessage="Preencha o endereço."
                                             title="Endereço."
                                             value="#{funcionario.endCompleto}">
                                    <f:passThroughAttribute name="required"
                                                            value="true" />
                                </h:inputText>
                                <h:outputText 
                                    rendered="#{!(listagemController.edicao and funcionarioController.funcionario.id == funcionario.id)}"
                                    value="#{funcionario.endCompleto}" />
                            </h:column>
                            <!--CPF-->
                            <h:column>
                                <f:facet name="header">
                                    CPF
                                </f:facet>
                                <h:inputText class="form-control cpf" id="cpf"
                                             maxlength="11"
                                             rendered="#{listagemController.edicao and funcionarioController.funcionario.id == funcionario.id}"
                                             required="true"
                                             requiredMessage="Ex.:000.000.000-00."
                                             title="CPF."
                                             value="#{funcionario.CPF}">
                                    <f:passThroughAttribute name="required"
                                                            value="true" />
                                </h:inputText>
                                <h:outputText 
                                    rendered="#{!(listagemController.edicao and funcionarioController.funcionario.id == funcionario.id)}"
                                    value="#{funcionario.CPF}" />
                            </h:column>
                            <!--SITUAÇÃO-->
                            <h:column>
                                <f:facet name="header">
                                    Situação
                                </f:facet>
                                <h:selectOneMenu class="form-control" 
                                                 id="situacao"
                                                 rendered="#{listagemController.edicao and funcionarioController.funcionario.id == funcionario.id}"
                                                 title="Situação."
                                                 value="#{funcionario.situacao}">
                                    <f:selectItems itemLabel="#{situacao.descricao}" 
                                                   itemValue="#{situacao}"
                                                   value="#{funcionarioController.tiposSituacao}" 
                                                   var="situacao" />
                                </h:selectOneMenu>
                                <h:outputText 
                                    rendered="#{!(listagemController.edicao and funcionarioController.funcionario.id == funcionario.id)}"
                                    value="#{funcionario.situacao.descricao}" />
                            </h:column>
                            <!--CARGO-->
                            <h:column>
                                <f:facet name="header">
                                    Cargo
                                </f:facet>
                                <h:selectOneMenu class="form-control" 
                                                 id="cargo"
                                                 rendered="#{listagemController.edicao and funcionarioController.funcionario.id == funcionario.id}"
                                                 title="Situação."
                                                 value="#{funcionario.cargo}">
                                    <f:selectItems itemLabel="#{cargo.descricao}" 
                                                   itemValue="#{cargo}"
                                                   value="#{funcionarioController.tiposCargo}" 
                                                   var="cargo" />
                                </h:selectOneMenu>
                                <h:outputText 
                                    rendered="#{!(listagemController.edicao and funcionarioController.funcionario.id == funcionario.id)}"
                                    value="#{funcionario.cargo.descricao}" />
                            </h:column>
                            <!--SUPERVISOR-->
                            <h:column>
                                <f:facet name="header">
                                    Supervisor
                                </f:facet>
                                <h:selectOneMenu class="form-control" 
                                                 id="supervisor"
                                                 rendered="#{listagemController.edicao and funcionarioController.funcionario.id == funcionario.id}"
                                                 title="Supervisor."
                                                 value="#{funcionario.supervisor}">
                                    <f:selectItems itemLabel="#{supervisor.descricao}" 
                                                   itemValue="#{supervisor}"
                                                   value="#{funcionarioController.tiposCargo}" 
                                                   var="supervisor" />
                                </h:selectOneMenu>
                                <h:outputText 
                                    rendered="#{!(listagemController.edicao and funcionarioController.funcionario.id == funcionario.id)}"
                                    value="#{funcionario.supervisor.descricao}" />
                            </h:column>
                            <!--CARGA HORARIA-->
                            <h:column>
                                <f:facet name="header">
                                    C.H.
                                </f:facet>
                                <h:inputText class="form-control" id="cargaHoraria"
                                             maxlength="2"
                                             rendered="#{listagemController.edicao and funcionarioController.funcionario.id == funcionario.id}"
                                             required="true"
                                             requiredMessage="Preencha a carga horária."
                                             title="Carga Horária."
                                             value="#{funcionario.cargaHoraria}">
                                    <f:passThroughAttributes 
                                        value="#{{'placeholder':'Ex.: 44', 
                                                 'required':'true',
                                                 'type':'number'}}" />
                                </h:inputText>
                                <h:outputText 
                                    rendered="#{!(listagemController.edicao and funcionarioController.funcionario.id == funcionario.id)}"
                                    value="#{funcionario.cargaHoraria}" />
                            </h:column>
                            <!--DATA ADMISSÃO-->
                            <h:column>
                                <f:facet name="header">
                                    Admissão
                                </f:facet>
                                <h:inputText class="form-control" id="dataAdmissao"
                                             required="true"
                                             rendered="#{listagemController.edicao and funcionarioController.funcionario.id == funcionario.id}"
                                             requiredMessage="Preencha o ano de admissão."
                                             title="Ano de admissão"
                                             value="#{funcionario.dataAdmissao}">
                                    <f:convertDateTime pattern="yyyy-MM-dd" dateStyle="short" type="date"/>
                                    <f:passThroughAttributes 
                                        value="#{{'placeholder':'Ano de admissão', 
                                                 'required':'true',
                                                 'type':'date'}}" />
                                </h:inputText>
                                <h:outputText 
                                    rendered="#{!(listagemController.edicao and funcionarioController.funcionario.id == funcionario.id)}"
                                    value="#{funcionarioController.converterData(funcionario.dataAdmissao)}" />
                            </h:column>
                            <!--ADICIONAR FERIAS-->
                            <h:column>
                                <f:facet name="header">
                                    Férias
                                </f:facet>
                                <h:commandLink action="#{funcionarioController.transferirParaCadastroFerias(funcionario)}"
                                               class="btn btn-default" 
                                               style="text-decoration: none"
                                               title="Cadastrar Férias"
                                               type="button">
                                    <f:passThroughAttributes 
                                        value="#{{'data-toggle':'tooltip', 
                                                 'data-trigger':'hover'}}" />
                                    <span aria-hidden="true" 
                                          class="glyphicon 
                                          glyphicon-plus-sign"></span>
                                </h:commandLink>
                            </h:column>
                            <!--EDITAR-->
                            <h:column>
                                <f:facet name="header">
                                    Editar
                                </f:facet>
                                <h:commandLink  class="btn btn-default" 
                                                rendered="#{!(listagemController.edicao and funcionarioController.funcionario.id == funcionario.id)}"
                                                style="text-decoration: none"
                                                title="Editar"
                                                type="button">
                                    <f:ajax onevent="habilitarTooltip"
                                            render=":#{filtro.clientId}
                                            :#{listagemFuncionarios.clientId}
                                            :#{menu.clientId}"/>
                                    <f:param name="secao" value="listagem" />
                                    <f:passThroughAttributes 
                                        value="#{{'data-toggle':'tooltip', 
                                                 'data-trigger':'hover'}}" />
                                    <f:setPropertyActionListener 
                                        target="#{funcionarioController.funcionario.id}"
                                        value="#{funcionario.id}" />
                                    <f:setPropertyActionListener 
                                        target="#{listagemController.edicao}" 
                                        value="#{true}" />
                                    <span aria-hidden="true"
                                          class="glyphicon 
                                          glyphicon-edit" ></span>
                                </h:commandLink>
                                <h:commandButton 
                                    action="#{funcionarioController.editar(funcionario)}" 
                                    class="btn btn-success"
                                    rendered="#{listagemController.edicao and funcionarioController.funcionario.id == funcionario.id}"
                                    title="Salvar" 
                                    value="Salvar" />
                                <h:commandLink class="btn btn-default" 
                                               rendered="#{listagemController.edicao and funcionarioController.funcionario.id == funcionario.id}"
                                               style="text-decoration: none"
                                               title="Cancelar"
                                               type="button">
                                    <f:ajax onevent="habilitarTooltip"
                                            render=":#{filtro.clientId}
                                            :#{listagemFuncionarios.clientId}
                                            :#{menu.clientId}" />
                                    <f:param name="secao" value="listagem" />
                                    <f:passThroughAttributes 
                                        value="#{{'data-toggle':'tooltip', 
                                                 'data-trigger':'hover'}}" />
                                    <f:setPropertyActionListener 
                                        target="#{listagemController.edicao}"
                                        value="#{false}" />
                                    <span aria-hidden="true" 
                                          class="glyphicon 
                                          glyphicon-remove"></span>
                                </h:commandLink>
                            </h:column>
                            <!--EXCLUIR-->
                            <h:column>
                                <f:facet name="header">
                                    Excluir
                                </f:facet>
                                <span data-target="#excluir#{funcionariosDT.rowIndex}" data-toggle="modal">
                                    <h:commandLink class="btn btn-danger" 
                                                   rendered="#{!(listagemController.edicao and funcionarioController.funcionario.id == funcionario.id)}"
                                                   style="text-decoration: none"
                                                   title="Excluir"
                                                   type="button">
                                        <f:ajax />
                                        <f:passThroughAttributes 
                                            value="#{{'data-toggle':'tooltip', 
                                                     'data-trigger':'hover'}}" />
                                        <span aria-hidden="true" 
                                              class="glyphicon 
                                              glyphicon-trash"></span>
                                    </h:commandLink>
                                </span>
                                <div aria-labelledby="label" class="modal 
                                     fade" 
                                     id="excluir#{funcionariosDT.rowIndex}" 
                                     role="dialog" tabindex="-1">
                                    <div class="modal-dialog"
                                         role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button aria-label="Close" 
                                                        class="close" 
                                                        data-dismiss="modal"
                                                        type="button">
                                                    <span aria-hidden="true">
                                                        &times;
                                                    </span>
                                                </button>
                                                <h4 class="modal-title" id="label">Excluir funcionário</h4>
                                            </div>
                                            <div class="modal-body">
                                                Tem certeza que deseja excluir #{funcionario.nome}?
                                            </div>
                                            <div class="modal-footer">
                                                <h:commandButton action="#{funcionarioController.excluir(funcionario)}" class="btn btn-danger" value="Confirmar"/>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:column>
                            <!--FIM DA LISTAGEM DOS DADOS-->
                            <f:facet name="footer">
                                <nav>
                                    <ul class="pager">
                                        <li>
                                            <h:commandLink action="#{funcionarioController.retornar(funcionariosDT)}" disabled="#{funcionariosDT.first == 0}" value="Anterior">
                                                <f:ajax onevent="habilitarTooltip" render=":#{listagemFuncionarios.clientId}" />
                                            </h:commandLink>
                                        </li>
                                        <li>
                                            <h:commandLink action="#{funcionarioController.avancar(funcionariosDT)}" disabled="#{funcionariosDT.first + funcionariosDT.rows ge funcionariosDT.rowCount}" value="Próximo">
                                                <f:ajax onevent="habilitarTooltip" render=":#{listagemFuncionarios.clientId}" />
                                            </h:commandLink>
                                        </li>
                                    </ul>
                                </nav>
                            </f:facet>
                        </h:dataTable>
                    </h:panelGroup>
                </h:form>
            </div>
            <ui:include src="../resources/content/footer.xhtml" />
        </div>
    </body>
</html>
