<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui">
    <ui:include src="../resources/content/metadata.xhtml" />
    <body>
        <div class="center-block" style="width: 90%">
            <ui:include src="../resources/content/header.xhtml" />
            
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />

            <div align="center" style="margin-right: 150px">
                <h3>Funcionários com férias pendentes</h3>    
            </div>

            <br />
            <div class="center-block" style="width: 90%">
                <h:panelGroup binding="#{filtro}" id="filtro">
                    <h:form class="form-inline" onsubmit="return false;">
                        <div class="form-group">
                            <h:outputLabel for="nomeFiltro" value="Nome" />
                            <h:inputText class="form-control"
                                         disabled="#{listagemController.edicao}"
                                         id="nomeFiltro"
                                         maxlength="45"
                                         style="margin-left: 11px"
                                         title="Nome"
                                         value="#{feriasPendentesController.funcionario.nome}">
                                <f:ajax event="keyup" 
                                        listener="#{feriasPendentesController.filtrar()}" 
                                        render=":#{listagemFeriasPendentes.clientId}" />
                                <f:passThroughAttribute name="placeholder" 
                                                        value="Nome" />
                            </h:inputText>
                        </div>
                    </h:form>
                </h:panelGroup>
                <h:form>
                    <h:panelGroup binding="#{listagemFeriasPendentes}" 
                                  id="listagemFeriasPendentes">
                        <h:outputText rendered="#{feriasPendentesDT.rowCount == 0}" 
                                      value="Nenhum resultado encontrado." 
                                      />
                        <!--LISTAGEM DOS DADOS-->
                        <h:dataTable binding="#{feriasPendentesDT}"
                                     class="table"
                                     rendered="#{feriasPendentesDT.rowCount != 0}"
                                     rows="10"
                                     value="#{feriasPendentesController.funcionariosFeriasPendentes}" 
                                     var="funcionario">
                            <!--NOME-->
                            <h:column>
                                <f:facet name="header" >
                                    Nome 
                                </f:facet>
                                <h:outputText 
                                    value="#{funcionario.nome}" />
                            </h:column>
                            <!--CPF-->
                            <h:column>
                                <f:facet name="header">
                                    CPF
                                </f:facet>
                                <h:outputText 
                                    value="#{funcionario.CPF}" />
                            </h:column>
                            <!--CARGO-->
                            <h:column>
                                <f:facet name="header">
                                    Cargo
                                </f:facet>
                                <h:outputText 
                                    value="#{funcionario.cargo.descricao}" />
                            </h:column>
                            <!--DATA ADMISSÃO-->
                            <h:column>
                                <f:facet name="header">
                                    Admissão
                                </f:facet>
                                <h:outputText 
                                    value="#{feriasPendentesController.converterData(funcionario.dataAdmissao)}" />
                            </h:column>
                            <!--FIM DA LISTAGEM DOS DADOS-->
                            <f:facet name="footer">
                                <nav>
                                    <ul class="pager">
                                        <li>
                                            <h:commandLink action="#{feriasPendentesController.retornar(feriasPendentesDT)}" disabled="#{feriasPendentesDT.first == 0}" value="Anterior">
                                                <f:ajax onevent="habilitarTooltip" render=":#{listagemFeriasPendentes.clientId}" />
                                            </h:commandLink>
                                        </li>
                                        <li>
                                            <h:commandLink action="#{feriasPendentesController.avancar(feriasPendentesDT)}" disabled="#{feriasPendentesDT.first + feriasPendentesDT.rows ge feriasPendentesDT.rowCount}" value="Próximo">
                                                <f:ajax onevent="habilitarTooltip" render=":#{listagemFeriasPendentes.clientId}" />
                                            </h:commandLink>
                                        </li>
                                    </ul>
                                </nav>
                            </f:facet>
                        </h:dataTable>
                    </h:panelGroup>
                </h:form>
            </div>
            <ui:include src="../resources/content/footer.xhtml" />
        </div>
    </body>
</html>
