<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui">
    <ui:include src="../resources/content/metadata.xhtml" />
    <body>
        <div class="center-block" style="width: 90%">
            <ui:include src="../resources/content/header.xhtml" />

            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
            
            <div align="center" style="margin-right: 150px">
                <h3>Férias cadastradas</h3>    
            </div>

            <br />
            <div class="center-block" style="width: 60%">
                <h:form>
                    <h:panelGroup binding="#{listagemFerias}" 
                                  id="listagemFerias">
                        <h:outputText rendered="#{feriasDT.rowCount == 0}" 
                                      value="Nenhum resultado encontrado." 
                                      />
                        <!--LISTAGEM DOS DADOS-->
                        <h:dataTable binding="#{feriasDT}"
                                     class="table"
                                     rendered="#{feriasDT.rowCount != 0}"
                                     rows="10"
                                     value="#{feriasController.feriasCollection}" 
                                     var="ferias">
                            <!--DATA INÍCIO-->
                            <h:column>
                                <f:facet name="header">
                                    Data início
                                </f:facet>
                                <h:inputText class="form-control" id="dataInicio"
                                             required="true"
                                             rendered="#{listagemController.edicao and feriasController.ferias.id == ferias.id}"
                                             requiredMessage="Preencha a data de início."
                                             title="Data de início"
                                             value="#{ferias.dataInicio}">
                                    <f:convertDateTime pattern="yyyy-MM-dd" dateStyle="short" type="date"/>
                                    <f:passThroughAttributes 
                                        value="#{{'placeholder':'Data início', 
                                                 'required':'true',
                                                 'type':'date'}}" />
                                </h:inputText>
                                <h:outputText 
                                    rendered="#{!(listagemController.edicao and feriasController.ferias.id == ferias.id)}"
                                    value="#{feriasController.converterData(ferias.dataInicio)}" />
                            </h:column>
                            <!--DATA FIM-->
                            <h:column>
                                <f:facet name="header">
                                    Data fim
                                </f:facet>
                                <h:inputText class="form-control" id="dataFim"
                                             required="true"
                                             rendered="#{listagemController.edicao and feriasController.ferias.id == ferias.id}"
                                             requiredMessage="Preencha a data fim."
                                             title="Data fim"
                                             value="#{ferias.dataFim}">
                                    <f:convertDateTime pattern="yyyy-MM-dd" dateStyle="short" type="date"/>
                                    <f:passThroughAttributes 
                                        value="#{{'placeholder':'Data início', 
                                                 'required':'true',
                                                 'type':'date'}}" />
                                </h:inputText>
                                <h:outputText 
                                    rendered="#{!(listagemController.edicao and feriasController.ferias.id == ferias.id)}"
                                    value="#{feriasController.converterData(ferias.dataFim)}" />
                            </h:column>
                            <!--PERIODO AQUISITIVO-->
                            <h:column>
                                <f:facet name="header">
                                    Período Aquisitivo
                                </f:facet>
                                <h:outputText 
                                    rendered="#{!(listagemController.edicao and feriasController.ferias.id == ferias.id)}"
                                    value="#{ferias.periodoAquisitivo}" />
                            </h:column>
                            <!--VER FUNCIONARIO-->
                            <h:column>
                                <f:facet name="header">
                                    Funcionário
                                </f:facet>
                                <span data-target="#funcionarioInfo#{feriasDT.rowIndex}" data-toggle="modal">
                                    <h:commandLink class="btn btn-default" 
                                                   rendered="#{!(listagemController.edicao and feriasController.ferias.id == ferias.id)}"
                                                   style="text-decoration: none"
                                                   title="Visualizar dados do funcionário"
                                                   type="button">
                                        <f:ajax />
                                        <f:passThroughAttributes 
                                            value="#{{'data-toggle':'tooltip', 
                                                     'data-trigger':'hover'}}" />
                                        <span aria-hidden="true" 
                                              class="glyphicon 
                                              glyphicon-search"></span>
                                    </h:commandLink>
                                </span>
                                <div aria-labelledby="label" class="modal 
                                     fade" 
                                     id="funcionarioInfo#{feriasDT.rowIndex}" 
                                     role="dialog" tabindex="-1">
                                    <div class="modal-dialog"
                                         role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button aria-label="Close" 
                                                        class="close" 
                                                        data-dismiss="modal"
                                                        type="button">
                                                    <span aria-hidden="true">
                                                        &times;
                                                    </span>
                                                </button>
                                                <h4 class="modal-title" id="label" align="left">Dados do funcionário</h4>
                                            </div>
                                            <div class="modal-body" align="center">
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <td><b>Nome:</b> #{ferias.funcionario.nome}  </td>
                                                            <td><b>CPF:</b> #{ferias.funcionario.CPF}</td>
                                                            <td><b>Endereço:</b> #{ferias.funcionario.endCompleto}</td>
                                                        </tr>                                                     
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:column>
                            <!--EDITAR-->
                            <h:column>
                                <f:facet name="header">
                                    Editar
                                </f:facet>
                                <h:commandLink  class="btn btn-default" 
                                                rendered="#{!(listagemController.edicao and feriasController.ferias.id == ferias.id)}"
                                                style="text-decoration: none"
                                                title="Editar"
                                                type="button">
                                    <f:ajax onevent="habilitarTooltip"
                                            render=":#{filtro.clientId}
                                            :#{listagemFerias.clientId}
                                            :#{menu.clientId}"/>
                                    <f:param name="secao" value="listagem" />
                                    <f:passThroughAttributes 
                                        value="#{{'data-toggle':'tooltip', 
                                                 'data-trigger':'hover'}}" />
                                    <f:setPropertyActionListener 
                                        target="#{feriasController.ferias.id}"
                                        value="#{ferias.id}" />
                                    <f:setPropertyActionListener 
                                        target="#{listagemController.edicao}" 
                                        value="#{true}" />
                                    <span aria-hidden="true"
                                          class="glyphicon 
                                          glyphicon-edit" ></span>
                                </h:commandLink>
                                <h:commandButton 
                                    action="#{feriasController.editar(ferias)}" 
                                    class="btn btn-success"
                                    rendered="#{listagemController.edicao and feriasController.ferias.id == ferias.id}"
                                    title="Salvar" 
                                    value="Salvar" />
                                <h:commandLink class="btn btn-default" 
                                               rendered="#{listagemController.edicao and feriasController.ferias.id == ferias.id}"
                                               style="text-decoration: none"
                                               title="Cancelar"
                                               type="button">
                                    <f:ajax onevent="habilitarTooltip"
                                            render=":#{filtro.clientId}
                                            :#{listagemFuncionarios.clientId}
                                            :#{menu.clientId}" />
                                    <f:param name="secao" value="listagem" />
                                    <f:passThroughAttributes 
                                        value="#{{'data-toggle':'tooltip', 
                                                 'data-trigger':'hover'}}" />
                                    <f:setPropertyActionListener 
                                        target="#{listagemController.edicao}"
                                        value="#{false}" />
                                    <span aria-hidden="true" 
                                          class="glyphicon 
                                          glyphicon-remove"></span>
                                </h:commandLink>
                            </h:column>
                            <!--EXCLUIR-->
                            <h:column>
                                <f:facet name="header">
                                    Excluir
                                </f:facet>
                                <span data-target="#excluir#{feriasDT.rowIndex}" data-toggle="modal">
                                    <h:commandLink class="btn btn-danger" 
                                                   rendered="#{!(listagemController.edicao and feriasController.ferias.id == ferias.id)}"
                                                   style="text-decoration: none"
                                                   title="Excluir"
                                                   type="button">
                                        <f:ajax />
                                        <f:passThroughAttributes 
                                            value="#{{'data-toggle':'tooltip', 
                                                     'data-trigger':'hover'}}" />
                                        <span aria-hidden="true" 
                                              class="glyphicon 
                                              glyphicon-trash"></span>
                                    </h:commandLink>
                                </span>
                                <div aria-labelledby="label" class="modal 
                                     fade" 
                                     id="excluir#{feriasDT.rowIndex}" 
                                     role="dialog" tabindex="-1">
                                    <div class="modal-dialog"
                                         role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button aria-label="Close" 
                                                        class="close" 
                                                        data-dismiss="modal"
                                                        type="button">
                                                    <span aria-hidden="true">
                                                        &times;
                                                    </span>
                                                </button>
                                                <h4 class="modal-title" id="label">Excluir férias</h4>
                                            </div>
                                            <div class="modal-body">
                                                Tem certeza que deseja excluir?
                                            </div>
                                            <div class="modal-footer">
                                                <h:commandButton action="#{feriasController.excluir(ferias)}" class="btn btn-danger" value="Confirmar"/>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:column>
                            <!--FIM DA LISTAGEM DOS DADOS-->
                            <f:facet name="footer">
                                <nav>
                                    <ul class="pager">
                                        <li>
                                            <h:commandLink action="#{feriasController.retornar(feriasDT)}" disabled="#{feriasDT.first == 0}" value="Anterior">
                                                <f:ajax onevent="habilitarTooltip" render=":#{listagemFerias.clientId}" />
                                            </h:commandLink>
                                        </li>
                                        <li>
                                            <h:commandLink action="#{feriasController.avancar(feriasDT)}" disabled="#{feriasDT.first + feriasDT.rows ge feriasDT.rowCount}" value="Próximo">
                                                <f:ajax onevent="habilitarTooltip" render=":#{listagemFerias.clientId}" />
                                            </h:commandLink>
                                        </li>
                                    </ul>
                                </nav>
                            </f:facet>
                        </h:dataTable>
                    </h:panelGroup>
                </h:form>
            </div>
            <ui:include src="../resources/content/footer.xhtml" />
        </div>
    </body>
</html>
