<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui">
    <ui:include src="/resources/content/metadata.xhtml" />
    <h:body>
        <div class="center-block" style="width: 90%">
            <ui:include src="/resources/content/header.xhtml" />

            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />

            <!--CADASTRO DO FUNCIONARIO-->
            <div class="tab-content">
                <div class="tab-pane active" id="cadastro" role="tabpanel">
                    <br/>
                    <div align="center">
                        <h:form class="form-horizontal">
                            <div align="center">
                                <h4>Identificação do Funcionário</h4>    
                            </div>
                            <br/>
                            <div class="form-group">
                                <!--CARGO-->
                                <h:outputLabel class="col-sm-2 control-label" 
                                               for="cargo" value="Cargo" />
                                <div class="col-sm-3">
                                    <h:selectOneMenu class="form-control" 
                                                     id="cargo"
                                                     title="Cargo."
                                                     value="#{funcionarioController.funcionario.cargo}">
                                        <f:selectItems itemLabel="#{cargo.descricao}" 
                                                       itemValue="#{cargo}"
                                                       value="#{funcionarioController.tiposCargo}" 
                                                       var="cargo" />
                                        <f:ajax render="@form"/>
                                    </h:selectOneMenu>
                                </div>
                                <!--Carga Horaria-->
                                <h:outputLabel class="col-sm-2 control-label" for="cargaHoraria"
                                               value="Carga Horária" />
                                <div class="col-sm-3">
                                    <h:inputText class="form-control" id="cargaHoraria"
                                                 maxlength="2"
                                                 required="true"
                                                 requiredMessage="Preencha a carga horária."
                                                 title="Carga horária."
                                                 value="#{funcionarioController.funcionario.cargaHoraria}">
                                        <f:passThroughAttributes 
                                            value="#{{'placeholder':'Ex.: 44', 
                                                     'required':'true',
                                                     'type':'number'}}" />
                                    </h:inputText>
                                </div>
                            </div>

                            <div class="form-group">
                                <!--Nome-->
                                <h:outputLabel class="col-sm-2 control-label" for="nome"
                                               value="Nome" />
                                <div class="col-sm-3">
                                    <h:inputText class="form-control" id="numeroSerie"
                                                 maxlength="20"
                                                 required="true"
                                                 requiredMessage="Preencha o nome."
                                                 title="Nome."
                                                 value="#{funcionarioController.funcionario.nome}">
                                        <f:passThroughAttributes 
                                            value="#{{'autofocus':'autofocus',
                                                     'placeholder':'Ex.: Paulo Ferreira',
                                                     'required':'true'}}" />
                                    </h:inputText>
                                </div>
                                <!--SITUACAO-->
                                <h:outputLabel class="col-sm-2 control-label" 
                                               for="tipo" value="Situação" />
                                <div class="col-sm-3">
                                    <h:selectOneMenu class="form-control" 
                                                     id="tipo"
                                                     title="Situação."
                                                     value="#{funcionarioController.funcionario.situacao}">
                                        <f:selectItems itemLabel="#{situacao.descricao}" 
                                                       itemValue="#{situacao}"
                                                       value="#{funcionarioController.tiposSituacao}" 
                                                       var="situacao" />
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <!--ENDEREÇO COMPLETO-->
                            <div class="form-group">
                                <h:outputLabel class="col-sm-2 control-label" 
                                               for="endCompleto" value="Endereço Completo" />
                                <div class="col-sm-8">
                                    <h:inputText class="form-control" id="endCompleto"
                                                 required="true"
                                                 requiredMessage="Preencha o endereço."
                                                 title="Endereço."
                                                 value="#{funcionarioController.funcionario.endCompleto}">
                                        <f:passThroughAttributes 
                                            value="#{{'autofocus':'autofocus',
                                                     'placeholder':'Ex.: Quadra 2 Conjunto Z apt 201', 
                                                     'required':'true'}}" />
                                    </h:inputText>
                                </div> 
                            </div>
                            <!--DATA ADMISSÃO-->
                            <div class="form-group">
                                <h:outputLabel class="col-sm-2 control-label" for="dataAdmissao"
                                               value="Data de admissão" />
                                <div class="col-sm-3">
                                    <h:inputText class="form-control" id="dataAdmissao"
                                                 required="true"
                                                 requiredMessage="Preencha a data de admissão."
                                                 title="Data de aquisição"
                                                 value="#{funcionarioController.funcionario.dataAdmissao}">
                                        <f:convertDateTime 
                                            locale="pt-BR" 
                                            pattern="yyyy-MM-dd" 
                                            timeStyle="short" 
                                            timeZone="Brazil/East" 
                                            type="date" />
                                        <f:passThroughAttributes 
                                            value="#{{'placeholder':'Data de admissão', 
                                                     'required':'true',
                                                     'type':'date'}}"/>
                                    </h:inputText>
                                </div>
                                <!--CPF-->
                                <h:outputLabel class="col-sm-2 control-label" for="cpf"
                                               value="CPF" />
                                <div class="col-sm-3">
                                    <h:inputText class="form-control cpf" id="cpf"
                                                 maxlength="14"
                                                 required="true"
                                                 requiredMessage="000.000.000-00."
                                                 title="CPF do responsável."
                                                 value="#{funcionarioController.funcionario.CPF}">
                                        <f:passThroughAttributes 
                                            value="#{{'autofocus':'autofocus',
                                                     'placeholder':'Ex.: 000.000.000-00',
                                                     'required':'true'}}" />
                                    </h:inputText>
                                </div>
                            </div>
                            <!--SUPERVISOR-->
                            <h:panelGroup layout="block" rendered="#{funcionarioController.funcionario.cargo.descricao != 'Gerente'}" binding="#{grupoCargo}" 
                                  id="grupoCargo">
                                <div class="form-group">                             
                                    <h:outputLabel class="col-sm-2 control-label" 
                                                   for="supervisor" value="Supervisor" />
                                    <div class="col-sm-3">
                                        <h:selectOneMenu class="form-control" 
                                                         id="supervisor"
                                                         title="Supervisor."
                                                         value="#{funcionarioController.funcionario.supervisor}">
                                            <f:selectItems itemLabel="#{cargo.descricao}" 
                                                           itemValue="#{cargo}"
                                                           value="#{funcionarioController.tiposCargo}" 
                                                           var="cargo" />
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                            </h:panelGroup>
                            <br/>

                            <!--CADASTRAR-->
                            <div class="form-group">
                                <div class="col-sm-1">
                                    <h:commandButton action="#{funcionarioController.cadastrar()}"
                                                     class="btn btn-success" 
                                                     value="Cadastrar">
                                    </h:commandButton>
                                </div>
                            </div>
                        </h:form>
                    </div>
                </div> 
            </div>
            <ui:include src="/resources/content/footer.xhtml" />
        </div> 
    </h:body>
</html>