<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui">
    <ui:include src="/resources/content/metadata.xhtml" />
    <body>
        <div class="center-block" style="width: 90%">
            <ui:include src="/resources/content/header.xhtml"/>

            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
            
            <h:panelGroup>
                <div class="center-block well well-lg" style="margin-top: 23px; width: 45%">
                    <h:form class="form-horizontal">

                        <div class="form-group">
                            <h:outputLabel class="col-sm-2 control-label" for="login" 
                                           value="Login" />
                            <div class="col-sm-10">
                                <h:inputText class="form-control" id="login"
                                             maxlength="14"
                                             required="true"
                                             requiredMessage="Preencha o login."
                                             value="#{loginController.login}">
                                </h:inputText>
                            </div>
                        </div>
                        <div class="form-group">
                            <h:outputLabel class="col-sm-2 control-label" for="senha"
                                           value="Senha" />
                            <div class="col-sm-10">
                                <h:inputSecret class="form-control" id="senha" 
                                               required="true"
                                               requiredMessage="Preencha o campo senha."
                                               value="#{loginController.senha}">
                                </h:inputSecret>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <h:commandButton 
                                    class="btn btn-default"
                                    value="Entrar" 
                                    action="#{loginController.doLogin()}"/>
                            </div>
                        </div>
                    </h:form>
                </div>
            </h:panelGroup>
            <ui:include src="/resources/content/footer.xhtml"/>
        </div>
    </body>
</html>
